.order {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: 0 0 15px gray;
    padding: 10px;
    border-radius: 5px;
}

.order-details-link {
    text-decoration: none;
    color: #ff1867;
    border: solid 2px;
    padding: 5px 10px;
}

.order-details-link:hover {
    color: #ff1867;
}