footer {
    min-height: 80px;
    background-color: #27282c;
    color: #ff1867;
    display: flex;
    justify-content: space-between;
    padding: 5px 35px;
    align-items: center;
    font-weight: bold;
}

footer a {
    text-decoration: none;
    color: inherit;
    margin-left: 5px;
}

footer a:hover {
    color: inherit;  
}