@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&display=swap");
@import url("../node_modules/bootstrap/dist/css/bootstrap.css");
@import url("../node_modules/bootstrap-icons/font/bootstrap-icons.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body,
html {
  background-color: #fff;
}

.create-sticker {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 25px;
}

.create-sticker-form {
  position: relative;
  max-width: 1500px;
  border: solid 2px #ff1867;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  padding: 35px;
  z-index: 1;
}

.create-sticker-form input[type="submit"],
.checkout-form input[type="submit"] {
  color: white;
  background-color: #ff1867;
  border: solid 2px #ff1867;
  transition: 0.3s ease-in-out;
}

.create-sticker-form input[type="submit"]:hover,
.checkout-form input[type="submit"]:hover {
  opacity: 0.9;
}

.create-sticker-form::before {
  position: absolute;
  content: "Sticker info";
  text-transform: uppercase;
  font-size: 18px;
  top: -13px;
  left: 25px;
  z-index: 2;
  background-color: #fff;
  padding: 0 10px;
}

.create-sticker-form input[type="file"] {
  width: 100%;
}

.create-sticker-form input[type="submit"],
.checkout-form input[type="submit"] {
  width: 100%;
  font-size: 25px;
  padding: 5px;
}

.sticker-preview {
  position: relative;
  border: solid 2px #ff1867;
  padding: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sticker-preview .demo-sticker-info {
  background-color: #27282c;
  color: white;
  padding: 5px;
}

.sticker-preview .demo-sticker-info .demo-sticker-price {
  display: block;
  text-align: center;
  font-size: 15px;
  padding: 10px;
}

.sticker-preview .demo-sticker-info span i {
  margin-right: 5px;
}

.sticker-preview .demo-sticker-info h3 {
  border-bottom: solid 2px #ff1867;
  border-radius: 5px;
  padding: 5px;
  margin-bottom: 20px;
  text-align: center;
}

.sticker-preview img {
  width: 250px;
  height: 250px;
  border: solid 0.5px gray;
}

.sticker-preview::before {
  position: absolute;
  content: "Preview";
  text-transform: uppercase;
  font-size: 18px;
  top: -13px;
  left: 25px;
  z-index: 2;
  background-color: #fff;
  padding: 0 10px;
}

.loader-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 290px);
}

.loader-wrapper2 {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: calc(100vh - 90px);
}

.favs-coming-soon {
  margin-top: 25px;
  min-height: calc(100vh - 315px);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 25px;
}

.favs-coming-soon h3,
.cart-wrapper h3,
.orders-wrapper h3 {
  color: #ff1867;
  font-size: 35px;
}

.empty-cart,
.no-orders {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: calc(100vh - 80px);
}

.empty-cart h3,
.no-orders h3 {
  color: #27282c;
  font-weight: bolder;
  font-size: 25px;
}

.empty-cart h3 span,
.no-orders h3 span {
  color: #ff1867;
}

.no-orders img {
  aspect-ratio: 1/1;
  max-width: 250px;
  margin-bottom: 25px;
  transform: translateX(20px);
}

.empty-cart img {
  aspect-ratio: 1/1;
  max-width: 300px;
  transform: translateX(-30px);
}

.empty-cart p,
.no-orders p {
  font-size: 17px;
  text-align: center;
}

.empty-cart .browse-link,
.no-orders .browse-link {
  text-decoration: none;
  margin: 10px;
  padding: 10px;
  background-color: #ff1867;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  border: solid 2px #ff1867;
  font-weight: bold;
}

.empty-cart .browse-link:hover,
.no-orders .browse-link:hover {
  color: #ff1867;
  background-color: #fff;
  transition: 0.4s ease-in-out;
}

.not-found {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 15px;
  min-height: calc(100vh - 160px);
}

.not-found h3 {
  color: #ff1867;
}

.auth-wrapper {
  min-height: calc(100vh - 80px);
  display: flex;
  padding-top: 100px;
  padding-bottom: 100px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-image: url("./assets/auth-bg-outline.svg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.auth-wrapper form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 400px;
  gap: 15px;
}

.auth-wrapper form input {
  padding: 10px;
  width: 100%;
}

.auth-wrapper form input:focus {
  outline: solid 1px #ff1867;
}

.auth-wrapper .form-wrapper {
  padding: 25px;
  box-shadow: 0 0 25px #ff1867;
}

.auth-wrapper .form-wrapper input[type="submit"] {
  outline: solid 1px #ff1867;
  border: none;
  background-color: transparent;
  transition: 0.4s ease-in-out;
}

.auth-wrapper .form-wrapper input[type="submit"]:hover {
  background-color: #ff1867;
  color: white;
  cursor: pointer;
}

td > div > img {
  height: 100px;
  width: 100px;
}

td {
  min-height: 100px;
}

.td-div {
  min-height: 100px;
  display: flex;
  align-items: center;
}

.td-div p {
  margin: 0;
}

.remove-item-btn {
  columns: white;
  background-color: #ff1867;
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  width: 45px;
  height: 45px;
  opacity: 0.8;
}

.remove-item-btn:hover {
  opacity: 1;
}

.remove-item-btn i {
  font-size: 25px;
  color: white;
}

.quantity-changer {
  font-weight: bold;
  border-radius: 5px;
  font-size: 20px;
  border: none;
  outline: none;
  width: 30px;
  height: 30px;
  margin-left: 10px;
  margin-right: 10px;
  color: white;
}

.quantity-changer:disabled {
  opacity: 0.3;
}

.black {
  background-color: #27282c;
}

.red {
  background-color: #ff1867;
}

tfoot {
  border-top: solid 2px #27282c;
  font-size: 25px;
}

.total-price,
.total-price span {
  font-family: "Holtwood One SC", serif;
}

.total-price span {
  color: #ff1867;
}

.checkout {
  display: flex;
  justify-content: flex-end;
  align-items: stretch;
  flex-wrap: wrap;
  min-height: 80px;
}

.cart-buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  padding: 15px;
  border: solid 2px #ff1867;
  background-color: #ff1867;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  margin: 10px 0;
}

.cart-buttons:hover {
  opacity: 0.9;
  color: white;
}

.account-menu-link,
.account-menu-link:hover {
  text-decoration: none;
  color: inherit;
}

.checkout {
  display: flex;
  justify-content: space-between;
  gap: 25px;
}

.checkout > div {
  flex: 1;
  border: solid 2px #ff1867;
  position: relative;
  padding: 15px;
}

.checkout img {
  width: 80px;
  height: 80px;
}

.checkout > div:first-child::before {
  position: absolute;
  content: "Shipping details";
  text-transform: uppercase;
  font-size: 18px;
  top: -13px;
  left: 25px;
  z-index: 2;
  background-color: #fff;
  padding: 0 10px;
}

.checkout > div:nth-child(2)::before {
  position: absolute;
  content: "Your order";
  text-transform: uppercase;
  font-size: 18px;
  top: -13px;
  left: 25px;
  z-index: 2;
  background-color: #fff;
  padding: 0 10px;
}

.link {
  text-decoration: none;
  color: white;
  border: solid 2px #ff1867;
  padding: 10px;
  border-radius: 5px;
  background-color: #ff1867;
  font-weight: bold;
}

.link:hover {
  color: white;
  opacity: 0.9;
  box-shadow: 0 0 5px #ff1867;
}

.dashboard-h {
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  letter-spacing: 1.5px;
  text-transform: uppercase;
}

@media screen and (max-width: 780px) {
  .create-sticker {
    grid-template-columns: 1fr;
  }
}
